<ion-view title="Agradecimientos" id="page193">
  <ion-content padding="true" class="has-header">
    <div id="agradecimientos-markdown309" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A la facultad de Ciencias Agropecuarias de la UNC </p>

      <p style="color:#000000;">A la Agencia Nacional de Promocion de Ciencia y Técnica que a través de su programa de ﬁnanciamiento FONCYT nos permitió concretar un proyecto largamente planeado.</p>

      <p style="color:#000000;">A los Ing. Agr . (PhD) Martín Díaz-Zorita y Pablo Mercuri por sus aportes durante la formulación del proyecto PICT 250 que ﬁnanció la ejecución del muestreo y análisis de suelos.</p>

      <p style="color:#000000;">Al IPNI, a la Aceitera General Deheza, al Colegio de Ingenieros Agrónomos de Córdoba y a Fundación ArgenINTA, que entre todos ﬁnanciaron la edición de este libro.</p>

      <p style="color:#000000;">A Celia Loza, Eduardo Buffa y Martín Demarchi por su colaboración en algunas etapas de muestreo.</p>

      <p style="color:#000000;">A Julius Koritschoner, Franca Giannini, Karen Pitz y Sebastián Salas por su valiosa colaboración en la etapa analítica. </p>
    </div>
  </ion-content>
</ion-view>