<ion-view title="Autores" id="page192">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>Susana Hang</b>
      <br> Ingeniera Agrónoma egresada de la Facultad de Ciencias Agropecuarias de la UNC.
      <br> Magister Science en Suelos en la UNS, Doctora en Ciencias Agropecuarias de la UNC.
      <br>Profesor Asociado de la Cátedra de Edafología de la FCA-UNC y Profesor Titular de Edafología de la FCA-UCC.
      <br> shang@agro.unc.edu.ar
      <br>
      <br>
      <b>Gustavo J. Negro</b>
      <br> Ingeniero Agrónomo egresado de la Facultad de Ciencias Agropecuarias de la UNC.
      <br> Profesor Adjunto de la Cátedra de Topografía de la FCA-UNC y Profesor Titular de Hidráulica y Topograﬁa de la FCA-UCC.
      <br> gnegro@agro.unc.edu.ar
      <br>
      <br>
      <b>M. Alejandro Becerra</b>
      <br> Ingeniero Agrónomo egresado de la Facultad de Ciencias Agropecuarias de la UNC.
      <br> Doctor en Ciencias Agropecuarias de la UNC.
      <br> Profesor Ayudante A de la Cátedra de Topografía de la FCA-UNC y Ayudante de Primera en Sistema Suelo de la FAyV-UNRC. mabecerra@agro.unc.edu.ar
      <br>
      <br>
      <b>E. Ariel Rampoldi</b>
      <br> Ingeniero Agrónomo egresado de la Facultad de Ciencias Agropecuarias de la UNC. Doctor en Ciencias Agropecuarias de la UNC. Profesor Adjunto de la Cátedra de Edafología de la FCA-UNC y Responsable del Laboratorio de Suelos y Agua de la EEA INTA
      Manfredi. rampoldi.edgar@inta.gob.ar
    </p>
  </ion-content>
</ion-view>