<ion-view title="Calcio" id="page196" style="background-color:#E1DFDD;">
  <ion-content padding="true" class="has-header">
    <div id="calcio-button-bar41" class="button-bar">
      <a ui-sref="menu.mapasCalcio()" id="calcio-button250" class="button button-positive button-block">Mapas</a>
      <a ui-sref="menu.datosCalcio()" id="calcio-button251" class="button button-balanced button-block">Datos</a>
    </div>
    <p align="justify">
      La fuente primaria de calcio en el suelo proviene de la meteorización de los minerales primarios y de la degradación de la calcita. Esto indica que el material parental tiene un rol importante en la concentración de calcio en el suelo.
      <br>
      <br> El calcio se presenta como carbonatos metamórﬁcos o sedimentarios, sulfatos y silicatos. Los silicatos se encuentran en mayor proporción en minerales primarios como la anortita, augita, epidoto, apatita, y en menor proporción en minerales secundarios.
      <br>
      <br> Los minerales como la dolomita, calcita, apatita y feldespatos cálcicos son las principales fuentes de calcio en el suelo.
      <br>
      <br> El contenido calcio total en el suelo varía entre 1 y 250 g kg
      <sup>-1</sup> . La mayor proporción de calcio en el suelo se encuentra como calcio intercambiable y soluble.
      <br>
      <br>El Ca
      <sup>2+</sup> intercambiable es retenido por las cargas negativas de las arcillas y materia orgánica. En promedio la concentración de calcio en la solución del suelo es de 0,4 g L
      <sup>-1</sup>.
      <br>
      <br>El calcio intercambiable es el catión predominante en la mayoría de los suelos, en especial en los suelos calcáreos de ambientes áridos. Los suelos orgánicos generalmente contienen poco calcio y presentan valores bajos de pH.
      <br>
      <br> La disponibilidad de calcio en el suelo es variable y está relacionada con el pH. Valores altos de pH se deben al aumento en la saturación de bases: Ca
      <sup>2+</sup>, Mg
      <sup>2+</sup>, K
      <sup>+</sup> y Na
      <sup>+</sup> intercambiables.
      <br>
      <br> La dinámica del calcio en el suelo tiene pocas vías comparado con otros macronutrientes y esto hace que su manejo sea más fácil. La disminución del calcio en el suelo se debe principalmente a la absorción que realizan las plantas, dado que son
      muy limitadas las pérdidas por lixiviación y volatilización.
      <br>
      <br> Las entradas de calcio al suelo provienen de la intemperización de minerales primarios y secundarios, y de las aplicaciones de fertilizantes y enmiendas que contienen el elemento. El aporte de calcio por mineralización de la materia orgánica es
      muy pequeño.
      <br>
      <br>El calcio disponible para las plantas se encuentra como calcio intercambiable y es absorbido como catión divalente (Ca
      <sup>2+</sup>). Su absorción puede disminuir cuando las concentraciones de K
      <sup>+</sup>, Mg
      <sup>2+</sup> y NH
      <sub>4</sub>
      <sup>+</sup> son elevadas.
      <br>
      <br> La función más importante del calcio en las plantas está relacionada con la composición estructural de macromoléculas dado por su capacidad de formar enlaces de coordinación permitiendo establecer uniones intermoleculares estables, pero a su vez
      reversibles, en las paredes celulares y en la membrana plasmática.
      <br>
      <br>El rol del calcio está asociado a la integridad de la pared celular y sus funciones, como también en la división y elongación celular.
      <br>
      <br> El calcio es ligado a grupos fosfatos cargados negativamente en la membrana lipídica, evitando que las células pierdan moléculas inorgánicas y orgánicas contenidas en su interior.
      <br>
      <br>La deﬁciencia severa de calcio causa desintegración general de la membrana, lisis celular y el tejido meristemático se vuelve deﬁciente en las zonas de crecimiento especialmente en las raíces.
      <br>
      <br>En general los síntomas visuales de la deﬁciencia de calcio se observan en frutos y órganos de almacenamiento porque la translocación de calcio es por el tejido xilemático.
      <br>
      <br> Los síntomas de deficiencia también se observan en las hojas y tejidos jóvenes debido a que el calcio no es removilizado. Las deﬁciencias de calcio en esos tejidos causan un aspecto gelatinoso en los puntos de crecimiento debido a la carencia de
      pectato de calcio para la formación de la pared celular .
    </p>
  </ion-content>
</ion-view>