<ion-view title="Cinc (Zn)" id="page220" style="background-color:#E1DFDD;">
  <ion-content padding="true" class="has-header">
    <div id="cincZn-button-bar48" class="button-bar">
      <a ui-sref="mapaCinc()" id="cincZn-button266" class="button button-positive button-block">Mapas</a>
      <a ui-sref="datosCinc()" id="cincZn-button267" class="button button-balanced button-block">Datos</a>
    </div>
    <div>
      <p style="text-align: justify;">En el suelo el cinc se encuentra en minerales ferromagnésicos como biotita, magnetita, hornblenda y sulfatos de Zn. La meteorización de estos minerales libera Zn, el cual puede ser adsorbido por los coloides del suelo como catión divalente o formar
        complejos con la materia orgánica del suelo. El cinc es encontrado en mayor proporción en rocas básicas que en rocas ácidas o sedimentarias.</p>
      <p style="text-align: justify;">Como muchos otros elementos el Zn se encuentra en mayor proporción en los horizontes de superficie que en los sub-superficiales debido, en parte, al aporte por los residuos orgánicos del cinc extraído por las raíces de área más profundas.
        <br>La principal interacción con otros nutrientes es con el Cu, el cual puede inhibir la absorción de cinc, así como también competir por los sitios de transporte dentro de la planta.</p>
      <p style="text-align: justify;">El cinc interactúa con el fósforo, alta disponibilidad de fósforo puede causar deficiencias de cinc. No es conocido todavía si la interacción P-Zn se lleva a cabo en el suelo o en la planta. Cationes como el Ca y el Mg también pueden interferir
        en la absorción de cinc por competencia.</p>
      <p style="text-align: justify;">Las deficiencias de cinc son mayores en suelos anegados. Las deficiencias podrían ser por la precipitación de cinc o por el incremento de formación de complejos de cinc y ácidos orgánicos. El cinc puede tornarse tóxico a pH menor a 4 o bien cuando
        las plantas son extremadamente susceptibles.
        <br>La disponibilidad de Zn aumenta con la disminución del pH debido a la disminución de la adsorción de cinc por los coloides, y a que el cinc puede precipitar en suelos calcáreos. La difusión hacia las raíces también decrece con el incremento del
        pH.</p>
      <p style="text-align: justify;">La materia orgánica del suelo tiene un importante efecto sobre la disponibilidad de cinc. Las dos formas de la materia orgánica, sólida y soluble, tienen efectos contrapuestos en la disponibilidad de cinc. Los complejos de materia orgánica soluble
        con cinc en solución ayudan a llevar el cinc hasta las raíces de las plantas mejorando así su disponibilidad. La fracción sólida de la materia orgánica provee sitios específicos para la adsorción de cinc decreciendo su disponibilidad para las
        plantas. Como resultado la disponibilidad de cinc es baja en suelos orgánicos.</p>
      <p style="text-align: justify;">Sin embargo, la acción de los microorganismos del suelo en la descomposición de la fracción sólida de la materia orgánica del suelo libera cinc e incrementa la disponibilidad para las plantas.</p>
      <p style="text-align: justify;">Los minerales secundarios del suelo como los óxidos de Fe y Al también tienen capacidad para ligar y adsorber Zn dificultando la absorción por la planta. El cinc es tomado por las plantas como ion divalente Zn
        <sup>2+</sup>, que es la forma más encontrada en la solución del suelo a valores normales de pH.</p>
      <p style="text-align: justify;">Las concentraciones adecuadas para el normal crecimiento de las plantas están comprendidas entre 3,3-16,3 g L
        <sup>-1</sup>, y concentraciones mayores a 200 g L
        <sup>-1</sup> podrían ser tóxicas.</p>
      <p style="text-align: justify;">El cinc actúa como cofactor enzimático y es esencial para la actividad, regulación y estabilización de las estructuras proteicas. Es constituyente estructural de las enzimas deshidrogenasas y participa de la activación enzimática de la trifosfato-deshidrogenasa,
        enzima esencial de la glicólisis. Actúa en la síntesis y conservación de auxinas.</p>
      <p style="text-align: justify;">Las concentraciones de cinc en las plantas varían entre 3 y 150 mg kg
        <sup>-1</sup> de materia seca. Las plantas con concentraciones foliares de cinc menores a 25 mg kg
        <sup>-1</sup> presentan síntomas de deficiencia. Las deficiencias de cinc tienen un importante efecto sobre el desarrollo de los cloroplastos, contenido de proteínas y ácidos nucleicos, y son más frecuentes en cultivos plurianuales. Las deficiencias
        se manifiestan por la baja actividad de la yema terminal, presentando los cultivos anuales un aspecto de roseta.</p>
      <p style="text-align: justify;">Las concentraciones de cinc en la solución del suelo suelen ser bajas en suelos calcáreos, en el orden de 0,65-65,4 g L
        <sup>-1</sup>, y mayores en suelos ácidos.</p>
    </div>
  </ion-content>
</ion-view>