<ion-view title="Cobre (Cu)" id="page219" style="background-color:#E1DFDD;">
  <ion-content padding="true" class="has-header">
    <div id="cobreCu-button-bar47" class="button-bar">
      <a ui-sref="mapaCobre()" id="cobreCu-button264" class="button button-positive button-block">Mapas</a>
      <a ui-sref="datosCobre()" id="cobreCu-button265" class="button button-balanced button-block">Datos</a>
    </div>
    <div>
      <p style="text-align: justify;">El cobre en los suelos se encuentra formando parte de las estructuras cristalinas de los minerales primarios y secundarios, y su concentración varía entre 10 y 80 mg kg
        <sup>-1</sup>. La presencia de cobre es mayor en suelos desarrollados a partir de rocas básicas.</p>
      <p style="text-align: justify;">Es un micronutriente que se encuentra fuertemente asociado a óxidos de Fe y Al y a la materia orgánica del suelo. El 98% del Cu encontrado en la solución está ligado a compuestos orgánicos de bajo peso molecular.</p>
      <p style="text-align: justify;">Las deficiencias de cobre prevalecen en suelos con altos contenidos de materia orgánica debido a la formación de complejos orgánicos insolubles.</p>
      <p style="text-align: justify;">Como la mayoría de los metales, la adsorción del cobre por los coloides del suelo se incrementa con el pH. No obstante, la disponibilidad para las plantas no es tan sensible al pH como para algunos otros metales debido a que el cobre forma complejos
        orgánicos.</p>
      <p style="text-align: justify;">Las plantas pueden desarrollar síntomas de toxicidad al cobre cuando crecen en suelos con pH menor a 6,5. Sin embargo, en suelos calcáreos, la formación de complejos orgánicos solubles ayudaría a mantener la disponibilidad de cobre por encima de
        los niveles de deficiencia.
        <br>Los compuestos orgánicos solubles son capaces de desplazar el equilibrio de complejos orgánicos sólidos a solubles, de modo que incluso a mayores valores de pH los complejos orgánicos solubles pueden aumentar la concentración de cobre en solución.
        También la descomposición microbiana libera cobre.
        <br>
        <br>La humedad del suelo tiene bajo efecto sobre el consumo de cobre por las plantas excepto en condiciones de suelos inundados.</p>
      <p style="text-align: justify;">El cobre es absorbido por las plantas como ion divalente Cu
        <sup>2+</sup> o como quelato. Para un adecuado crecimiento y desarrollo las plantas necesitan aproximadamente 1,27 mg L
        <sup>-1</sup> de Cu en la solución. La presencia de Zn puede inhibir la absorción de cobre por las plantas y viceversa.</p>
      <p style="text-align: justify;">En la planta el cobre es constituyente de la enzima oxidasa que sintetiza el ácido ascórbico (vitamina C), de la citocromo-oxidasa y de la plastocianina que se encuentran en los cloroplastos. El cobre también forma parte de la enzima fenol-oxidasa,
        que cataliza la oxidación de compuestos fenólicos a cetonas durante la formación de lignina y la cutícula. Influye en la fijación del nitrógeno atmosférico por las leguminosas, siendo esencial en el balance de nutrientes que regulan la transpiración
        en la planta.</p>
      <p style="text-align: justify;">Las concentraciones de cobre en las plantas pueden variar de 2 a 75 mg kg
        <sup>-1</sup> de materia seca. Se consideran adecuadas para un crecimiento normal de las plantas concentraciones de cobre del orden de 5 a 20 mg kg
        <sup>-1</sup>. Los síntomas de deficiencia se observan cuando las concentraciones foliares de cobre son inferiores a 4 mg kg
        <sup>-1</sup>, y los síntomas de toxicidad cuando las concentraciones están por encima de los 20 mg kg
        <sup>-1</sup>. Las deficiencias de cobre son las más difíciles de diagnosticar dado la interferencia que existen con otros elementos como el P, Fe, Mo, Zn y S.</p>
    </div>
  </ion-content>
</ion-view>