<ion-view title="Constantes hídricas" id="page230">
  <ion-content padding="true" class="has-header">
    <button id="constantesHDricas-button279" class="button button-positive button-block">Capacidad de campo (CC)</button>
    <button id="constantesHDricas-button280" class="button button-positive button-block">Capacidad a la marchitez permanente (CMP)</button>
    <button id="constantesHDricas-button281" class="button button-positive button-block">Agua útil</button>
    <p>
      Add some
      <b>HTML</b> for
      <u>flavor</u>
    </p>
  </ion-content>
</ion-view>