<ion-view title="Datos Cinc" id="page218">
  <ion-content padding="true" class="has-header">
    <div>
      <p style="text-align: justify;">Los suelos de la provincia de Córdoba presentaron un amplio rango de variación, entre 0,01 y 26,7 mg kg
        <sup>-1</sup> aunque la mayor concentración estuvo en valores inferiores a 3 mg kg
        <sup>-1</sup> (aproximadamente 90%).</p>

      <hr>
      <table style="width: 100%; border-collapse: collapse; border-style: solid;" border="0">
        <tbody>
          <tr>
            <td style="width: 33.3333%;">Media + D.E.</td>
            <td style="width: 33.3333%; text-align: center;">cmol kg
              <sup>-1</sup>
            </td>
            <td style="width: 33.3333%; text-align: center;">1,27 ± 2,5</td>
          </tr>
          <tr>
            <td style="width: 33.3333%;">Mínimo</td>
            <td style="width: 33.3333%; text-align: center;">cmol kg
              <sup>-1</sup>
            </td>
            <td style="width: 33.3333%; text-align: center;">0,01</td>
          </tr>
          <tr>
            <td style="width: 33.3333%;">Máximo</td>
            <td style="width: 33.3333%; text-align: center;">cmol kg
              <sup>-1</sup>
            </td>
            <td style="width: 33.3333%; text-align: center;">27,6</td>
          </tr>
          <tr>
            <td style="width: 33.3333%;">CV</td>
            <td style="width: 33.3333%; text-align: center;">%</td>
            <td style="width: 33.3333%; text-align: center;">162</td>
          </tr>
        </tbody>
      </table>
      <hr>



    </div>
    <div>
      <img src="img/uci7uQcFQqm5hZhHld3A_Zn-histograma.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <br>
      <p style="text-align: justify;">El mapa de distribución espacial mostró que la mayor parte del territorio de la provincia de Córdoba presenta menos de 2 mg kg
        <sup>-1</sup> de Zn, lo cual indicaría deficiencias del elemento para la mayor parte de los suelos de superficie de la provincia dado que el rango de umbral crítico establecido para el Zn se encuentra entre 1 y 2 mg kg
        <sup>-1</sup>.</p>
    </div>
    <hr>
  </ion-content>
</ion-view>