<ion-view title="Datos Magnesio" id="page201">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">Los suelos de la provincia de Córdoba se encuentran en el rango de 0,1 a 10,7 cmol kg
        <sup>-1</sup> de magnesio intercambiable, aunque más del 80% se encuentra entre 2 y 4 cmol kg
        <sup>-1</sup>. </p>

      <hr>
      <table style="width: 100%; border-collapse: collapse; border-style: solid;" border="0">
        <tbody>
          <tr>
            <td style="width: 33.3333%;">Media + D.E.</td>
            <td style="width: 33.3333%; text-align: center;">cmol kg
              <sup>-1</sup>
            </td>
            <td style="width: 33.3333%; text-align: center;">3,07 ± 1,6</td>
          </tr>
          <tr>
            <td style="width: 33.3333%;">Mínimo</td>
            <td style="width: 33.3333%; text-align: center;">cmol kg
              <sup>-1</sup>
            </td>
            <td style="width: 33.3333%; text-align: center;">0,1</td>
          </tr>
          <tr>
            <td style="width: 33.3333%;">Máximo</td>
            <td style="width: 33.3333%; text-align: center;">cmol kg
              <sup>-1</sup>
            </td>
            <td style="width: 33.3333%; text-align: center;">10,7</td>
          </tr>
          <tr>
            <td style="width: 33.3333%;">CV</td>
            <td style="width: 33.3333%; text-align: center;">%</td>
            <td style="width: 33.3333%; text-align: center;">52</td>
          </tr>
        </tbody>
      </table>
      <hr>



    </div>
    <div>
      <img src="img/zUcJQx0wRv6PxIGhIDIi_Mg_histo.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <br>
      <p align="justify">En la figura siguiente se muestra la correlación entre los datos de magnesio obtenidos a partir del muestreo y los datos provenientes de cartas de suelo. La dispersión es bastante alta, y no se descarta que la metodología de cuantificación no sea
        una fuente importante de dispersión. </p>
    </div>
    <div>
      <img src="img/xign3an2StGkSGgkYN56_Mg_dispersin.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <hr>
  </ion-content>
</ion-view>