<ion-view title="Datos Manganeso" id="page216">
  <ion-content padding="true" class="has-header">
    <div>
      <p style="text-align: justify;">Los datos obtenidos para los suelos de Córdoba se presentan en el cuadro a continuación, y muestran una elevada amplitud de concentraciones (25 - 333 mg kg
        <sup>-1</sup>).
        <br>
        <br>No hay valores de referencia para extracción con Mehlich que permitan establecer áreas con deficiencias para el territorio cordobés, si bien se mencionan como criterios para evaluar la respuesta a la fertilización entre 4 mg kg
        <sup>-1</sup> y 8 mg kg
        <sup>-1</sup>.</p>

      <hr>
      <table style="width: 100%; border-collapse: collapse; border-style: solid;" border="0">
        <tbody>
          <tr>
            <td style="width: 33.3333%;">Media + D.E.</td>
            <td style="width: 33.3333%; text-align: center;">cmol kg
              <sup>-1</sup>
            </td>
            <td style="width: 33.3333%; text-align: center;">146 ± 67</td>
          </tr>
          <tr>
            <td style="width: 33.3333%;">Mínimo</td>
            <td style="width: 33.3333%; text-align: center;">cmol kg
              <sup>-1</sup>
            </td>
            <td style="width: 33.3333%; text-align: center;">25</td>
          </tr>
          <tr>
            <td style="width: 33.3333%;">Máximo</td>
            <td style="width: 33.3333%; text-align: center;">cmol kg
              <sup>-1</sup>
            </td>
            <td style="width: 33.3333%; text-align: center;">333</td>
          </tr>
          <tr>
            <td style="width: 33.3333%;">CV</td>
            <td style="width: 33.3333%; text-align: center;">%</td>
            <td style="width: 33.3333%; text-align: center;">46</td>
          </tr>
        </tbody>
      </table>
      <hr>



    </div>
    <div>
      <img src="img/A6x6yvPtQIqTuM7tTuLl_Mn-histograma.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <br>
      <p style="text-align: justify;">A diferencia del hierro, la distribución espacial del manganeso muestra que sus concentraciones decrecen hacia el este de la provincia.</p>
    </div>
    <hr>
  </ion-content>
</ion-view>