<ion-view title="Datos Calcio" id="page198">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Los valores medios y extremos así como la distribución de rangos del contenido de calcio se presentan en el cuadro y la figura siguientes.
        <br>
      </p>
      <hr>
      <table style="width: 100%; border-collapse: collapse; border-style: solid;" border="0">
        <tbody>
          <tr>
            <td style="width: 33.3333%;">Media + D.E.</td>
            <td style="width: 33.3333%; text-align: center;">cmol kg
              <sup>-1</sup>
            </td>
            <td style="width: 33.3333%; text-align: center;">10,4 ± 4,2</td>
          </tr>
          <tr>
            <td style="width: 33.3333%;">Mínimo</td>
            <td style="width: 33.3333%; text-align: center;">cmol kg
              <sup>-1</sup>
            </td>
            <td style="width: 33.3333%; text-align: center;">3,2</td>
          </tr>
          <tr>
            <td style="width: 33.3333%;">Máximo</td>
            <td style="width: 33.3333%; text-align: center;">cmol kg
              <sup>-1</sup>
            </td>
            <td style="width: 33.3333%; text-align: center;">28,4</td>
          </tr>
          <tr>
            <td style="width: 33.3333%;">CV</td>
            <td style="width: 33.3333%; text-align: center;">%</td>
            <td style="width: 33.3333%; text-align: center;">40,8</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/WrQlQvFnS6uELvkDAUSW_ca-histograma.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <br>
      <p align="justify">

        El contenido de calcio intercambiable varió entre 3,2 y 28,4 cmol kg
        <sup>-1</sup>. La mayor concentración de calcio en las regiones con menos intemperización se observa a través del gradiente creciente en el contenido de calcio intercambiable hacia el oeste de la provincia de Córdoba.
        <br>
        <br>Muchas de las muestras del oeste fueron calcáreas para el horizonte de superﬁcie por lo cual el calcio excedió los valores de la capacidad de intercambio ca tiónico del suelo y esos datos no fueron incluidos en el cuadro.
        <br>
        <br> El análisis de correlación y su representación gráﬁca se presenta en la figura siguiente.
      </p>
    </div>
    <div>
      <img src="img/ZU9VGeMjSBayeh5lavAy_ca-correlacion.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <br>
      <p align="justify">
        Junto con el potasio fueron los dos cationes intercambiables que mejor correlacionaron con los datos de carta.
        <br>De los 269 casos que se compararon 66 (24%) presentaron valores de diferencias en contenido de calcio entre muestreo y cartas que representó menos del 10 % (&lt;1 cmol kg
        <sup>-1</sup>) del valor medido en el muestreo; mientras que el 46% de los casos comparados diﬁrió en menos de 2 cmol kg
        <sup>-1</sup>.
      </p>
    </div>
  </ion-content>
</ion-view>