<ion-view title="Datos Sodio" id="page207">
  <ion-content padding="true" class="has-header">
    <div>
      <p style="text-align: justify;">Los suelos de la provincia de Córdoba presentaron, predominantemente condiciones normales respecto al contenido de sodio, siendo el valor medio de 1,4 cmol kg
        <sup>-1</sup> y el rango de variación entre 0,02 y 53,7 cmol kg
        <sup>-1</sup>.</p>
      <hr>
      <table style="width: 100%; border-collapse: collapse; border-style: solid;" border="0">
        <tbody>
          <tr>
            <td style="width: 33.3333%;">Media + D.E.</td>
            <td style="width: 33.3333%; text-align: center;">cmol kg
              <sup>-1</sup>
            </td>
            <td style="width: 33.3333%; text-align: center;">1,4 ± 3,9</td>
          </tr>
          <tr>
            <td style="width: 33.3333%;">Mínimo</td>
            <td style="width: 33.3333%; text-align: center;">cmol kg
              <sup>-1</sup>
            </td>
            <td style="width: 33.3333%; text-align: center;">0,02</td>
          </tr>
          <tr>
            <td style="width: 33.3333%;">Máximo</td>
            <td style="width: 33.3333%; text-align: center;">cmol kg
              <sup>-1</sup>
            </td>
            <td style="width: 33.3333%; text-align: center;">53,7</td>
          </tr>
          <tr>
            <td style="width: 33.3333%;">CV</td>
            <td style="width: 33.3333%; text-align: center;">%</td>
            <td style="width: 33.3333%; text-align: center;">274</td>
          </tr>
        </tbody>
      </table>
      <hr>



    </div>
    <div>
      <img src="img/j8Xsa8gSTEKDVzQpxrD5_Na-histograma.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <br>
      <p style="text-align: justify;">Las regiones con los valores más altos de sodio se ubican al noreste en las proximidades a la laguna de Mar Chiquita y hacia el oeste en las Salinas Grandes. También se reconoció concentración de sodio al sureste de la provincia. El incremento en
        el contenido de sodio intercambiable, si bien los datos del muestreo indican predominio de valores inferiores a 1,5 cmol kg
        <sup>-1</sup>, se destacan al comparar los datos actuales con el mapa de cartas de suelo con un neto predominio de concentraciones inferiores a 0,5 cmol kg
        <sup>-1</sup>. La relación entre los valores de Na de cartas de suelo y los datos actuales se presentan en la figura siguiente mostrando bastante divergencia entre sitios.</p>
    </div>
    <div>
      <img src="img/0smNPLYQStyAlmhybQMl_Na-correlacion.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <hr>
  </ion-content>
</ion-view>