<ion-view title="Hierro (Fe)" id="page209" style="background-color:#E1DFDD;">
  <ion-content padding="true" class="has-header">
    <div id="hierroFe-button-bar45" class="button-bar">
      <a ui-sref="menu.mapaHierro()" id="hierroFe-button260" class="button button-positive button-block">Mapas</a>
      <a ui-sref="menu.datosHierro()" id="hierroFe-button261" class="button button-balanced button-block">Datos</a>
    </div>
    <div>
      <p style="text-align: justify;">El hierro es uno de los elementos más abundante (5%) en la constitución de los suelos. Deriva de los silicatos ferromagnesianos, los cuales incluyen un gran número de tipos de rocas. Las formas minerales de hierro son óxidos, hidróxidos, silicatos
        y óxidos amorfos. Estos minerales forman la goethita y hematita dependiendo del grado de hidratación y la estructura cristalina. El Fe liberado por la intemperización de la roca es redistribuido en minerales secundarios. La solubilidad del Fe
        del suelo depende en gran medida del pH. En solución el Fe hidroliza a Fe
        <sup>3+</sup>, [Fe(OH)
        <sub>2</sub>]
        <sup>+</sup> y [Fe(OH)
        <sub>4</sub>]
        <sup>-</sup> , dependiendo del pH. El estado de óxido-reducción del suelo afecta la solubilidad del Fe. La forma de hierro divalente (Fe
        <sup>2+</sup>) es más soluble que la forma trivalente (Fe
        <sup>+3</sup>). En suelos bien aireados y con valores de pH entre 6 y 8, predomina la forma Fe que es relativamente insoluble, con rango de concentraciones entre 5,6 x 10
        <sup>-4</sup> mg L
        <sup>-1</sup> – 55,8 mg L
        <sup>-1</sup>. En suelos anegados la reducción química del hierro de Fe
        <sup>3+</sup> a Fe
        <sup>2+</sup> puede causar toxicidad. El hierro forma complejos con ácidos orgánicos del suelo. Se considera que la materia orgánica soluble puede incrementar la concentración de hierro en la solución del suelo entre 2 y 3 órdenes de magnitud (0,56
        a 558 mg L
        <sup>-1</sup>). La materia orgánica soluble proviene de la fracción orgánica sólida y también, debido a la liberación de complejos no proteicos (sideróforos) por las raíces de las plantas, bacterias y hongos.</p>
      <p style="text-align: justify;">El hierro es absorbido por las plantas como Fe
        <sup>+2</sup>, Fe
        <sup>+3</sup> y como quelato, siendo su absorción metabólicamente controlada. Las plantas necesitan concentraciones de hierro del orden de 5,6 - 558 mg L
        <sup>-1</sup>, así que deben actuar mecanismos para incrementar la disponibilidad de Fe del suelo.</p>
      <p style="text-align: justify;">Las estrategias para incrementar la disponibilidad de Fe se basan en la liberación de protones por las raíces y la acidificación de la rizósfera. En presencia de la enzima Fe
        <sup>3+</sup> reductasa el Fe
        <sup>3+</sup> es transformado en Fe
        <sup>2+</sup> en la membrana plasmática de las células de las raíces, el Fe reducido es transportado hacia el interior de la membrana plasmática a través de un sistema específico de transporte. Esta es una estrategia usada por las dicotiledóneas y
        las monocotiledóneas a excepción de las gramíneas. El otro proceso involucra la extrusión de sideróforos por las raíces. Una vez liberados, los sideróforos forman complejos con el Fe
        <sup>+3</sup> y posteriormente son transportados hacia el interior de las raíces no ocurriendo reducción del Fe
        <sup>+3</sup>. Esta es una estrategia utilizada por las gramíneas.</p>
      <p style="text-align: justify;">Las concentraciones de hierro en las plantas varían de 10 a 1500 mg kg
        <sup>-1</sup> de materia seca, dependiendo del órgano de la planta y de la especie. Las plantas con síntomas de deficiencia presentan concentraciones foliares de hierro menor a 10 mg kg
        <sup>-1</sup>. Concentraciones entre 50 y 100 mg kg
        <sup>-1</sup> son consideradas adecuadas para el crecimiento normal de las plantas.</p>
      <p style="text-align: justify;">Los síntomas de toxicidad se pueden observar cuando las concentraciones son mayores a 80 mg kg
        <sup>-1</sup>. La principal función del hierro en las plantas se basa en la activación de enzimas. Participa en reacciones fundamentales de óxido-reducción. El hierro cataliza la biosíntesis de clorofila ya que forma parte de las enzimas responsables
        de la su síntesis. El efecto más característico de la deficiencia de hierro en las plantas se basa en presencia de hojas cloróticas y/o blancas debido a la incapacidad de sintetizar clorofila.</p>
    </div>
  </ion-content>
</ion-view>