<ion-view title="Introducción" id="page190">
  <ion-content padding="true" class="has-header">
    <div>
      <title>Menu </title>
      <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          border: 1px solid #e7e7e7;
          background-color: #f3f3f3;
          position: fixed;
          top: 0;
          width:100%;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: #666;
          text-align: center;
          padding: 8px 30px;
          text-decoration: none;
        }
        
        li a:hover:not(.active) {
          background-color: #ddd;
        }
        
        li a.active {
          color: white;
          background-color: #4CAF50;
        }
      </style>


      <ul>
        <li>
          <a href="#presentacion">PRESENTACIÓN</a>
        </li>
        <li>
          <a href="#prologo">PRÓLOGO</a>
        </li>
      </ul>
      <br>
      <a name="presentacion"></a>
      <br>
      <h4>PRESENTACIÓN</h4>
      <hr>
      <p align="justify">
        El proceso de “agriculturización” de la Región Pampeana y expansión de la frontera agropecuaria en ámbitos extra pampeanos implicó un aumento de la presión sobre la tierra que está derivando en un conjunto de cambios físicos, químicos y biológicos no
        controlados en los suelos y, eventualmente, en su paulatina degradación. Este proceso, no totalmente cuantiﬁcado en su verdadera dimensión, es sin embargo evidente en los suelos de la región.
        <br>
        <br> El dinamismo del sector productivo cordobés es lo que lo ha colocado en puestos de vanguardia no solo en la generación y adaptación de nuevas tecnologías y procesos, sino también en su adopción y asimilación. Es ese mismo dinamismo, sin embargo,
        el que en muchos casos ha llevado a los sistemas al límite de las posibilidades de los recursos naturales implicados, sobre todo allí donde prácticas y procesos se extrapolaron libremente, sin una comprensión cabal de sus alcances y limitaciones,
        a ecosistemas más frágiles y vulnerables que los ámbitos en que esas experiencias se generaron.
        <br>
        <br> En este contexto, siempre deben ser saludados con una bienvenida los trabajos de grupos consolidados de técnicos e investigadores que aportan al conocimiento de los suelos locales y a la dinámica de sus cambios.
        <br>
        <br> Signiﬁcativamente presentado en el Año Internacional del Suelo, este trabajo ofrece una visión sinóptica aunque abarcativa ya que cubre todo el territorio de Córdoba y es a la vez exhaustivo en cuanto a las variables edáﬁcas sobre las que los
        autores, con un criterio adecuado, han centrado su mirada. Profuso en tablas gráﬁcos y mapas que ayudan a analizar y comprender los datos presentados, el trabajo describe tanto los materiales como los procedimientos (metodologías) utilizadas de
        forma clara y explícita, lo que contribuye a comprender su alcance y las limitaciones por parte de otros investigadores y asesores que a ellos recurran.
        <br>
        <br> El conjunto de variables edáﬁcas consideradas es amplio e incluye aquellas relacionadas con la fertilidad propiamente dicha (macro y micronutrientes, materia orgánica) y otros aspectos químicos de su constitución (pH, conductividad, cationes
        intercambiables, Fe y Al) así como otras asociadas a sus aptitudes hídricas y oxigenación (granulometría, capacidad de campo, capacidad a la marchitez permanente).
        <br>
        <br> A través de la transformación, por medio de tecnologías SIG y de modelación, de puntos de muestreo deﬁnidos por grilla, los autores transitan el camino virtuoso de asignar a datos de laboratorio una dimensión geográﬁca, es decir asignarlos a
        determinados paisajes, deﬁniendo de esta forma su especiﬁcidad local y aumentando su aptitud para hacerlos exitosamente extrapolables dentro de porciones especíﬁcas del territorio.
        <br>
        <br> Implícitamente, el trabajo señala la dirección a seguir para dotar de nuevos contenidos a la geografía de los suelos, que inevitablemente pasa por recurrir a tecnologías de análisis espacial en concomitancia con los trabajos de cartografía convencionales
        ya sea tanto para ampliar y actualizar esos contenidos como para completar áreas con carencias de información geográﬁca. En general, la correlación entre los datos del muestreo actual y los históricos de las cartas, cuando fue posible hacerla,
        muestra para algunas variables notables similitudes (textura, calcio y potasio intercambiables), para otras marcadas diferencias (materia orgánica, nitrógeno total, sodio) y en otros casos divergencias más bien atribuibles a las metodologías de
        cuantiﬁcación (magnesio). En este sentido, los datos que se aportan, también pueden ser considerados como una actualización de algunos de los que informan las cartas, recogidos durante los relevamientos históricos convencionales y que han alcanzado
        cierto grado de obsolescencia, pero también revelan la vigencia de otros que conservan validez como insumo en las tomas de decisiones sobre uso y manejo.
        <br>
        <br> Los autores también han buscado ofrecer bases concretas y cuantitativas de apoyo a la toma de decisiones para acciones de ordenamiento territorial, regionalización, identiﬁcación de áreas homogéneas en cuanto a sus fortalezas o carencias. Asimismo
        maniﬁestan su aliento a otros equipos de trabajo, a replicar estudios en esta misma línea de modo de encadenar una serie de monitoreos y caracterizaciones de los suelos de Córdoba.
        <br>
        <br> El reconocer al suelo como un medio en perpetua renovación a diversas escalas de tiempo, pone en foco la cuestión de su protección a corto y largo plazo, así como la consideración del posible impacto del cambio climático y los cambios antropogénicos.
        Para evaluar en el largo plazo las modiﬁcaciones del suelo, la investigación actual debe observar los cambios en los componentes y las propiedades del suelo bajo el impacto de nuevas condiciones y modelar su evolución, enfatizando en el componente
        biológico a través de la interacción entre los componentes físicos y químicos.
        <br>
        <br> Del conjunto de caracteres propios de cada tipo de suelo, algunos son más estables y permanecen invariables o cambian poco en el tiempo, mientras que otros se encuentran en un equilibrio más dinámico y son, consecuentemente más susceptibles a
        cambios, como lo muestran los resultados del presente trabajo. Para usar palabras de los propios autores, los suelos de Córdoba “son buenos pero no son indestructibles”. Evaluar cuan resistentes o ﬂexibles son a estos cambios es tarea de la investigación
        que los actuales tiempos requieren.
        <br>
        <br> </p>
      <p align="right">Juan Gorgas
        <br> Noviembre de 2015
      </p>
      <hr>
      <hr>
      <h4>PRÓLOGO</h4>
      <a name="prologo"></a>
      <p align="justify">
        En este libro se analizan los suelos de superﬁcie de la Provincia de Córdoba. Presentamos la información que se fue generando de numerosos y diversos análisis de propiedades edáﬁcas. El muestreo realizado no fue de una región, de una cuenca, o de algún
        sitio identiﬁcado como especial y que mereciera ser estudiado particularmente. Todos los sitios de Córdoba tuvieron la misma posibilidad de ser reconocidos y estudiados, y para eso muestreamos según una cuadrícula de 20 km x 20 km, y excepto que
        fuera imposible avanzar, llegamos a todos los sitios que nos indicaba el navegador GPS.
        <br>
        <br> Como muchas de las cosas que encaramos en nuestras vidas, teníamos la convicción que el proyecto era interesante y estaba bien planteado y las diﬁcultades no las incluimos en las consideraciones previas, recién cuando se presentaron, como buenos
        ingenieros las fuimos resolviendo. Cada uno aportó su experiencia y todos aprendimos. Teníamos perspectivas de estudio del suelo distintas y pudimos integrarlas y sentimos que dimos un paso grande, y esto nos llena de expectativas porque se pusieron
        bases para estudios futuros, y no sólo para los que estudian el suelo y su fertilidad, sino para otros enfoques del uso del suelo, del estudio del ambiente, de la modelización, por nombrar solo algunos.
        <br>
        <br> Este tipo de abordaje y metodología estaba faltando, y haberlo emprendido y completado, habla de convicción y mucho trabajo. La idea inicial, era disponer de datos reales de propiedades edáﬁcas y climáticas, para avanzar en la modelación del
        comportamiento de ﬁtosanitarios y pasó a ser una de las tantas posibilidades y proyectos que empezaron a generarse alrededor de este trabajo.
        <br>
        <br> Declamar que hay que cuidar los suelos ya no basta, tenemos que hacer . Que los suelos de Córdoba son buenos pero no indestructibles. Entre todos podemos hacer algo bueno por la producción, por el ambiente, y en particular por la calidad de vida
        de todos los seres vivos.
        <br>
        <br> Este libro está compuesto de doce capítulos. En el primero se hace una breve reseña edafoclimática de la provincia de Córdoba y se presentan mapas temáticos de las propiedades de suelo en base a datos de las cartas de suelo a escala 1:50.000
        y al Mapa de Unidades Cartográﬁcas a escala de reconocimiento 1:500.000. En el segundo capítulo se describe el trabajo desarrollado a campo, laboratorio y gabinete y en los capítulos, tercero al doceavo se presenta una breve reseña de las propiedades
        de suelo evaluadas, sus valores medios y extremos, diagramas de frecuencia y los mapas temáticos correspondientes. Para las propiedades donde contamos con datos de cartas de suelo, también se incluyó el análisis entre datos “viejos” y nuevos.
        Los resultados muestran que mucha de la información contenida en las cartas de suelo es vigente y conﬁable aún muchos años después de haber sido producida.
        <br>
        <br> Aprendimos que lo que conocemos es un pedacito de la historia, y necesitamos la mayor cantidad posible de “pedacitos” para que ﬁnalmente veamos el paisaje que deseamos ver, suelos, cultivos, aire, agua, personas, animales, etc., viviendo armoniosamente.
        Esperamos que este trabajo sea un escalón para seguir avanzado y deseamos que la mayor cantidad de interesados pueda aprovecharla, para el bien de todos.
        <br>
        <br>
      </p>
      <hr>
    </div>
  </ion-content>
</ion-view>