<ion-view title="Magnesio" id="page199" style="background-color:#E1DFDD;">
  <ion-content padding="true" class="has-header">
    <div id="magnesio-button-bar42" class="button-bar">
      <a ui-sref="menu.mapasMagnesio()" id="magnesio-button240" class="button button-positive button-block">Mapas</a>
      <a ui-sref="menu.datosMagnesio()" id="magnesio-button247" class="button button-balanced button-block">Datos</a>
    </div>
    <p align="justify">
      El magnesio en el suelo está presente en los minerales primarios (silicatos, piroxenos, anfiboles, olivino, turmalina, muscovita y biotita), secundarios (montmorillonita, illita, clorita, vermiculita), carbonatos (dolomita, magnesita), sulfatos (MgSO
      <sub>4</sub>) y también en la materia orgánica del suelo.
      <br>
      <br>Puede encontrarse como ión estructural en la capa de brucita. En la fase líquida se encuentra como ion Mg
      <sup>2+</sup> en equilibrio con la forma intercambiable unido a los coloides del suelo. Al igual que el calcio, el magnesio disponible es predominantemente intercambiable, al igual que el calcio si bien tiene menor aﬁnidad por los sitios de intercambio
      debido a su mayor radio hidratado (serie liotrópica).
      <br>
      <br>La concentración de magnesio en la solución del suelo es alrededor de 24 mg L
      <sup>-1</sup>.
      <br>
      <br>Las pérdidas de magnesio en el suelo por lixiviación varían en el orden de 2 a 30 kg ha
      <sup>-1</sup> año
      <sup>-1</sup>.
      <br>
      <br>La disponibilidad de magnesio es afectada por el pH del suelo al igual que para el calcio.
      <br>
      <br> El magnesio es el componente central de la molécula de cloroﬁla y actúa como cofactor en muchas enzimas activando la fosforilación lo cual contribuye a aumentar la eﬁciencia de absorción de fósforo por las raíces. La absorción de Mg por las plantas
      es semejante a la de K
      <sup>+</sup>.
      <br>
      <br>Para que ocurra la absorción es necesario que exista el contacto del elemento con la raíz de la planta, sea por intercepción radicular, difusión o ﬂujo en masa siendo este último el mecanismo responsable de la mayor proporción de absorción de los
      cationes divalentes (Ca
      <sup>2+</sup> y Mg
      <sup>2+</sup>).
      <br>
      <br>La necesidad de magnesio para un óptimo crecimiento de las plantas está en el orden de los 1,5 a 3 g kg
      <sup>-1</sup> de materia seca.
      <br>
      <br>Los suelos que presentan deﬁciencias de magnesio son generalmente de textura arenosa y ácidos. También el elevado contenido de potasio intercambiable puede causar deﬁciencias de magnesio.
    </p>
  </ion-content>
</ion-view>