<ion-view title="Manganeso (Mn)" id="page211" style="background-color:#E1DFDD;">
  <ion-content padding="true" class="has-header">
    <div id="manganesoMn-button-bar46" class="button-bar">
      <a ui-sref="mapaManganeso()" id="manganesoMn-button262" class="button button-positive button-block">Mapas</a>
      <a ui-sref="datosManganeso()" id="manganesoMn-button263" class="button button-balanced button-block">Datos</a>
    </div>
    <div>
      <p style="text-align: justify;">El manganeso en el suelo proviene de óxidos, carbonatos, silicatos y sulfatos. En los suelos los niveles de Mn totales se encuentran entre 20 a 3000 mg kg
        <sup>-1</sup>. El Mn puede ser encontrado en los minerales del suelo como MnO
        <sub>2</sub>, MnOOH y Mn
        <sub>3</sub>O
        <sub>4</sub>. El contenido de manganeso es bajo en suelos que derivan de rocas de estructuras cristalinas y rocas ígneas ácidas y es mayor en suelos derivados de basaltos, esquistos y piedra caliza. El manganeso y el hierro tienen una dinámica similar
        debido a que en el suelo son fácilmente oxidados o reducidos. La concentración de Mn en la solución del suelo puede variar de 5,5 mg L
        <sup>-1</sup> en suelos bien aireados a 22 g L
        <sup>-1</sup> en suelos anegados.</p>
      <p style="text-align: justify;">La quelación de manganeso en el suelo ocurre al igual que para los otros metales. Altos contenidos de humedad del suelo favorecen las formas reducidas de Mn favoreciendo su disponibilidad. Por lo tanto, la deficiencia no es un problema en suelos
        húmedos, y puede ocurrir toxicidad en plantas susceptibles. Las deficiencias son frecuentes en suelos orgánicos, calcáreos, arenosos, ácidos y pobremente drenados.</p>
      <p style="text-align: justify;">Los suelos con altos contenidos de arcilla presentan mayor contenido de manganeso. La disponibilidad de manganeso en el suelo está ligada estrechamente al estado de óxido-reducción del suelo. En suelos anegados la presencia de Mn
        <sup>2+</sup> es mayor debido a las condiciones reductoras. Cuanto más negativo es el potencial redox del suelo mayor es la concentración de manganeso en la solución del suelo.</p>
      <p style="text-align: justify;">Además del potencial redox otro de los factores que más afecta la disponibilidad de Mn en el suelo es el pH. A valores de pH del suelo mayor a 6 y en condiciones de oxidación el manganeso se encuentra insoluble principalmente como Mn
        <sup>4+</sup> .</p>
      <p style="text-align: justify;">A bajos valores de pH y en condiciones de humedad el manganeso se encuentra como Mn
        <sup>2+</sup>, forma fácilmente asimilable por las plantas. A valores de pH menores a 5, la óxido-reducción no es determinante como el pH en la disponibilidad de manganeso, pero a valores de 6 a 8 la óxido-reducción afecta la disponibilidad de este
        elemento.</p>
      <p style="text-align: justify;">Las raíces de las plantas exudan protones y agentes quelantes, los cuales pueden ayudar a movilizar el manganeso. La materia orgánica del suelo puede acomplejar manganeso incrementando su estabilidad a medida que el pH aumenta.</p>
      <p style="text-align: justify;">El manganeso es tomado por las plantas como Mn
        <sup>2+</sup>, aunque la mayoría del manganeso del suelo está en su forma oxidada Mn
        <sup>4+</sup>. El manganeso es esencial para la síntesis de clorofila y su función principal está relacionada con la activación de enzimas. Participa del fotosistema II, siendo responsable de la fotólisis del agua.</p>
      <p style="text-align: justify;">Las concentraciones en planta varían entre 5 y 1500 mg de Mn por kg
        <sup>-1</sup> de materia seca, dependiendo de la parte de la planta considerada y de la especie. Las concentraciones óptimas para un crecimiento y desarrollo normal se encuentran entre 20-500 mg kg
        <sup>-1</sup>. Los síntomas de deficiencia en planta se observan cuando las concentraciones de Mn son inferiores a 20 mg kg
        <sup>-1</sup>, y los síntomas de toxicidad se observan cuando las concentraciones son superiores a 700 mg kg
        <sup>-1</sup>.</p>
      <p style="text-align: justify;">Las deficiencias de manganeso afectan la formación de carbohidratos no estructurales. El menor contenido de carbohidratos se hace evidente en las raíces siendo, probablemente, el factor responsable de la reducción en su crecimiento.</p>
    </div>
  </ion-content>
</ion-view>