<ion-view title="Mapa Hierro" id="page212">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider17" delegate-handle="slider17" id="mapaHierro-slider17" style="width:90%;height:320;">
      <ion-slide-page id="mapaHierro-slide25" style="background:url(&quot;img/koTbzwJSiGqAnUwzMKDG_Mgc-coords.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="mapaHierro-slide26" style="background:url(&quot;img/hB2TTjTTJe9BHSYdSxaA_Mgm-coords.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>