<ion-view title="Mapa Cinc" id="page215">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider20" delegate-handle="slider20" id="mapaCinc-slider20" style="width:90%;height:320;">
      <ion-slide-page id="mapaCinc-slide211" style="background:url(&quot;img/koTbzwJSiGqAnUwzMKDG_Mgc-coords.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="mapaCinc-slide212" style="background:url(&quot;img/hB2TTjTTJe9BHSYdSxaA_Mgm-coords.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>