<ion-view title="Materia orgánica y nitrógeno" id="page232">
  <ion-content padding="true" class="has-header">
    <button id="materiaOrgNicaYNitrGeno-button287" class="button button-positive button-block">MOS</button>
    <button id="materiaOrgNicaYNitrGeno-button288" class="button button-positive button-block">Nt</button>
    <button id="materiaOrgNicaYNitrGeno-button289" class="button button-positive button-block">C/N</button>
    <p>
      Add some
      <b>HTML</b> for
      <u>flavor</u>
    </p>
  </ion-content>
</ion-view>