<ion-view title="Micronutrientes" id="page208">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.hierroFe()" id="micronutrientes-button256" class="button button-positive button-block">Hierro (Fe)</a>
    <a ui-sref="menu.magnesio()" id="micronutrientes-button257" class="button button-positive button-block">Manganeso (Mn)</a>
    <button id="micronutrientes-button258" class="button button-positive button-block">Cobre (Cu)</button>
    <button id="micronutrientes-button259" class="button button-positive button-block">Cinc (Zn)</button>
    <p style="text-align: justify;">Los micronutrientes son elementos esenciales para el crecimiento de las plantas y se caracterizan por ser absorbidos en pequeñas cantidades, en el orden de miligramos por kilogramos de materia seca, dado que su acción es sobre el sistema enzimático,
      ya sea como parte constitutiva de las enzimas o bien como activadores de enzimas.
      <br>
      <br>Los micronutrientes se clasifican en catiónicos y aniónicos. Los catiónicos son metales que se encuentran en los suelos y sustratos en forma de óxidos, hidróxidos y sales. Se consideran micronutrientes catiónicos el hierro (Fe), manganeso (Mn),
      cobre (Cu), cinc (Zn) y níquel (Ni). Los micronutrientes aniónicos no metales son el boro (B) y el cloro (Cl) y el molibdeno (Mo) es un metal de transición.
      <br>
      <br>La deficiencia de micronutrientes puede afectar el crecimiento y desarrollo de las plantas repercutiendo en la cantidad y calidad de los órganos producidos.
      <br> Para el diagnóstico de las deficiencias de micronutrientes no es suficiente con el examen visual, debido a las similitudes de síntomas entre diferentes elementos. Se recomienda realizar análisis de suelo y de los tejidos vegetales.
      <br>Las deficiencias de micronutrientes pueden ocurrir por baja concentración del elemento en el suelo o porque el elemento no está en forma disponible para las plantas.
      <br>
      <br>Entre los factores del suelo que pueden afectar la disponibilidad de los micronutrientes se encuentran el pH, la cantidad y calidad de la materia orgánica del suelo, la textura, actividad microbiana, condiciones de óxido-reducción y factores del
      clima como la temperatura y precipitación.</p>
  </ion-content>
</ion-view>