<ion-view title="Potasio" id="page202" style="background-color:#E1DFDD;">
  <ion-content padding="true" class="has-header">
    <div id="potasio-button-bar43" class="button-bar">
      <a ui-sref="menu.mapasPotasio()" id="potasio-button252" class="button button-positive button-block">Mapas</a>
      <a ui-sref="menu.datosPotasio()" id="potasio-button253" class="button button-balanced button-block">Datos</a>
    </div>
    <div>
      <p style="text-align: justify;">El potasio está presente en rocas ígneas, metamórficas y sedimentarias, y también en depósitos marinos. La cantidad de potasio en el suelo depende del material parental y de la meteorización de la roca. El potasio se encuentra presente en el suelo
        como mineral primario (feldespatos y micas) y secundario (illita y vermiculita), potasio intercambiable y potasio en la solución del suelo.</p>
      <p style="text-align: justify;">Los feldespatos son más resistentes a la meteorización que las micas y están presentes principalmente en las fracciones de arenas y arcillas. El K intercambiable mantiene un equilibrio dinámico con el K en solución y juntos constituyen el potasio
        disponible. El nivel de potasio en la solución del suelo puede variar de 1 a 50 mg L
        <sup>-1</sup> y depende de las características químicas y mineralógicas de los suelos. La disminución de potasio del suelo se producen por absorción de los cultivos y pérdidas por lixiviado y escorrentía.</p>
      <p style="text-align: justify;">
        <br>Los factores del suelo que favorecen la lixiviación de potasio son: alta saturación con potasio de la fracción coloidal, superficies con subsuelos arenosos, escasa cobertura superficial, enraizamiento superficial y bajos valores de pH.</p>
      <p style="text-align: justify;">
        <br>El K actúa en numerosos procesos fisiológicos en las plantas. Activa más de 60 sistemas enzimáticos, actúa en la fotosíntesis, favorece un alto estado de energía, mantiene la turgencia de las células, regula la apertura y cierre estomático, promueve
        la absorción de agua, regula la traslocación de nutrientes en la planta, favorece el transporte y almacenamiento de carbohidratos, incrementa la absorción de nitrógeno y la síntesis de proteínas, y participa en la síntesis de almidón en las hojas.</p>
      <p style="text-align: justify;">Las funciones fisiológicas del potasio en las plantas se conjugan de tal forma que producen un incremento en el crecimiento de raíces, aumento de la resistencia a sequías y bajas temperaturas, resistencia a plagas y enfermedades, resistencia al
        vuelco e incremento de la nodulación en las leguminosas, incremento en el contenido de proteína y de almidón en granos y tubérculos, en el color y aroma de frutos, tenor de vitamina C y de sólidos solubles, reducción de desórdenes fisiológicos,
        aumenta el periodo de almacenamiento de cultivos como tomate, batata, cebolla, banana y otros.</p>
      <p style="text-align: justify;">Las plantas absorben el potasio del suelo como ion K
        <sup>+</sup>. Las necesidades de potasio para un óptimo crecimiento de las plantas se encuentran entre 20 y 50 g kg de materia seca y depende de la especie y estadio de crecimiento. Las plantas poseen en general, una capacidad de absorber potasio superior
        a sus necesidades lo que se denomina consumo de lujo.</p>
      <p style="text-align: justify;">Los principales síntomas visuales de deficiencia de potasio se manifiestan a través de clorosis en manchas que evolucionan a necrosis, principalmente en los ápices foliares y entre nervaduras. Los síntomas de deficiencia se observan en hojas maduras
        ya que el potasio puede ser removilizado hacia hojas más jóvenes.</p>
      <p style="text-align: justify;">La variación del contenido de K
        <sup>+</sup> intercambiable en los suelos de Córdoba varió entre 0,4 y 4,8 cmol kg
        <sup>-1</sup>. La distribución de potasio obtenida en cartas y en muestreo fue similar, pero resulta llamativo la reducción de la categoría 2,0-2,5 cmol kg
        <sup>-1</sup> que se detectó en el muestreo respecto a la información de cartas de suelo, en particular a las regiones pampa loéssica alta y pampa loéssica plana, ambas de intensa actividad agrícola.</p>
      <p style="text-align: justify;">En la Fig. 42 se presenta la correlación de los datos de potasio entre cartas y muestreo.</p>
    </div>
  </ion-content>
</ion-view>