<ion-view title="Sodio" id="page205" style="background-color:#E1DFDD;">
  <ion-content padding="true" class="has-header">
    <div id="sodio-button-bar44" class="button-bar">
      <a ui-sref="menu.mapasSodio()" id="sodio-button254" class="button button-positive button-block">Mapas</a>
      <a ui-sref="menu.datosSodio()" id="sodio-button255" class="button button-balanced button-block">Datos</a>
    </div>
    <div>
      <p align="justify">El exceso de sales de sodio puede afectar las propiedades físicas y químicas del suelo, generando dispersión de arcillas y consecuentemente reduciendo la porosidad y la permeabilidad del suelo. Los suelos sódicos presentan reacción alcalina con
        valores de pH &gt; 8,5, y elevada concentración de Na intercambiable adsorbido al complejo de intercambio. La presencia de suelos salinos y sódicos es común en áreas donde existe baja precipitación y alta evaporación.</p>
      <p align="justify">En esas condiciones las sales no son lixiviadas acumulándose en cantidades perjudiciales para el crecimiento y desarrollo de las plantas impidiendo algunas veces la actividad agrícola. El exceso de sales de sodio en superficie también puede tener
        origen en el uso de aguas para riego con alta concentración de este elemento. La función del sodio en las plantas es similar a la del potasio, es activador de una amplia gama de enzimas y está involucrado en la ósmosis de la membrana celular.</p>
      <p align="justify">El sodio es un elemento requerido apenas por algunas plantas y absorbido en forma iónica, Na
        <sup>+</sup>. Las concentraciones de sodio en los tejidos vegetales varían entre 0,013 y 35,1 g kg
        <sup>-1</sup> de materia seca. Las plantas halófitas poseen un contenido de sodio mayor en sus tejidos. En algunas especies como
        <em>Atriplex versicaria</em>, el sodio es considerado un elemento esencial. Sin embargo para la mayor parte de las especies es tóxico a altas concentraciones. Los síntomas de toxicidad están asociados a la reducción del crecimiento y la producción.
        Los síntomas visuales de la toxicidad de sodio son el amarillamiento y marchitamiento de plantas.</p>
    </div>
  </ion-content>
</ion-view>