<ion-view title="Textura y granulometría" id="page229">
  <ion-content padding="true" class="has-header">
    <button id="texturaYGranulometrA-button276" class="button button-positive button-block">Arcilla</button>
    <button id="texturaYGranulometrA-button277" class="button button-positive button-block">Limo</button>
    <button id="texturaYGranulometrA-button278" class="button button-positive button-block">Arena</button>
    <p>
      Add some
      <b>HTML</b> for
      <u>flavor</u>
    </p>
  </ion-content>
</ion-view>