<ion-view title="Óxidos de aluminio" id="page223" style="background-color:#E1DFDD;">
  <ion-content padding="true" class="has-header">
    <div id="XidosDeAluminio-button-bar50" class="button-bar">
      <a ui-sref="menu.mapaXidosDeAluminio()" id="XidosDeAluminio-button274" class="button button-positive button-block">Mapas</a>
      <a ui-sref="menu.datosXidosDeAluminio()" id="XidosDeAluminio-button275" class="button button-balanced button-block">Datos</a>
    </div>
    <div>
      <p style="text-align: justify;">En la naturaleza hay grandes cantidades de hidróxidos y oxihidróxidos de Al no cristalinos o de baja cristalinidad, formas muy reactivas e inestables. La cristalinización puede ser retardada o inhibida por aniones orgánicos o compuestos de Si.
        <br>El Al presente en los minerales primarios del suelo se libera por meteorización química y condiciones ambientales específicas. La acumulación de óxidos de Al depende de la actividad del Si en solución.</p>
      <p style="text-align: justify;">En general los óxidos amorfos son más activos que sus homólogos cristalinos debido principalmente, a la mayor superficie específica consecuencia del menor tamaño de partícula y al mayor número de grupos reactivos</p>
      <p style="text-align: justify;">La disolución de caolinita provoca la precipitación de la gibsita [ᵞ-Al(OH)
        <sub>3</sub>]. La gibsita es el hidróxido de aluminio más común en los suelos. Proviene de la alteración de materiales que contienen Al como feldespatos, minerales de arcilla y micas, bajo determinadas condiciones.</p>
      <p style="text-align: justify;">Por intenso lavado la concentración de sílice precipita la gibsita. Es un producto secundario de la alteración de minerales de Al. La bayarita y nordstrandita son polimorfos de la gibsita con ligeras diferencias en el plano estructural.
        <br>La estructura básica de la gibsita consiste en dos planos de hidroxilos distribuidos hexagonalmente unidos a iones de Al, de modo que cada Al se une a 6 hidroxilos, y cada hidroxilo es compartidos por 2 aluminios. La densidad de la gibsita varía
        entre 2,3 y 2,4 g cm
        <sup>-3</sup>. Los óxidos de Al son de color blanco grisáceo y brillo perlado o vítreo.</p>
      <p style="text-align: justify;">La gibsita es encontrada en suelos muy meteorizados y lo contrario ocurre en los suelos de climas templados donde la concentración de gibsita es baja. No es un componente predominante de suelos de regiones templadas tal como los Molisoles, y sí
        es abundante en los suelos como los Oxisoles, Ultisoles y algunos Espodosoles. También puede encontrarse en mayor concentración en suelos provenientes de cenizas volcánicas.</p>
      <p style="text-align: justify;">Las concentraciones referenciadas son entre 5 y 10% en suelos ricos en gibsita y entre 0,2 y 0,5% en suelos pobres en este compuesto. En los Oxisoles puede alcanzar hasta el 30% de la masa total. Se considera que una de las formas más comunes de
        la alúmina amorfa hidroxilada en los suelos es formando “islas” de hidróxido de Al entre las capas de silicatos expandibles.</p>
    </div>
  </ion-content>
</ion-view>