<ion-view title="Óxidos de hierro" id="page222" style="background-color:#E1DFDD;">
  <ion-content padding="true" class="has-header">
    <div id="XidosDeHierro-button-bar49" class="button-bar">
      <a ui-sref="menu.mapaXidosDeHierro()" id="XidosDeHierro-button272" class="button button-positive button-block">Mapas</a>
      <a ui-sref="menu.datosXidosDeHierro()" id="XidosDeHierro-button273" class="button button-balanced button-block">Datos</a>
    </div>
    <div>
      <p style="text-align: justify;">Los óxidos de hierro son minerales de neoformación provenientes de la alteración de rocas y suelos y, debido a que no se encuentran unidos química o estructuralmente a los silicatos, ocurren como óxidos libres. Los óxidos de hierro en el suelo son
        importantes, ya que no existe prácticamente un suelo donde no se encuentren, aunque sea en pequeñas cantidades.</p>
      <p style="text-align: justify;">Los valores reportados de óxidos de hierro varían entre 0,5 y 5%. Los óxidos de hierro desempeñan un papel muy importante en los suelos. Esto se debe a las propiedades específicas del metal y sus iones, y especialmente a la facilidad con que cambian
        de valencia y pueden formar complejos con numerosos productos orgánicos y minerales.</p>
      <p style="text-align: justify;">Las fuentes de hierro en los suelos la constituyen diversos minerales primarios ferromagnesianos, destacando los piroxenos, anfíboles, algunas variedades de granate, epidota y filosilicatos, particularmente olivinos. A diferencia del Al sólo una
        pequeña parte del hierro se incorpora a la estructura de los filosilicatos particularmente en los minerales 2:1 o forma complejos con la materia orgánica.</p>
      <p style="text-align: justify;">Los óxidos de hierro junto a la materia orgánica pigmentan el suelo.</p>
      <p style="text-align: justify;">Los óxidos de hierro presentes en el suelo, en especial depositados como recubrimiento de minerales primarios y secundarios o infiltrados en agregados de arcilla, alteran la carga eléctrica, modifican las propiedades de superficie e incrementan
        la capacidad amortiguadora del suelo; el hierro juega un papel importante en la agregación de partículas y en la formación de la estructura del suelo.</p>
      <p style="text-align: justify;">La elevada superficie especifica de los óxidos de hierro, su naturaleza y el hecho que formen películas o cubiertas en torno a partículas, implica que muchas propiedades de los suelos serán dependientes de ellos. Los aniones tales como fosfatos,
        molibdatos, silicatos y oligoelementos como Cu, Pb, Zn, Co y Ni pueden ser adsorbidos por los óxidos de hierro.</p>
      <p style="text-align: justify;">Los óxidos de hierro desempeñan un papel muy importante en los suelos; esto se debe a las propiedades específicas del metal y sus iones, y, en especial, a la facilidad con que cambian valencia y pueden formar complejos con numerosos productos orgánicos
        y minerales.</p>
      <p style="text-align: justify;">Los óxidos de hierro son anfóteros con respecto a la reacción con los iones H
        <sup>+</sup> y OH
        <sup>-</sup>. A valores de pH ácidos los protones son retenidos por la superficie de los grupos funcionales Fe-OH que promueven el incremento de la carga positiva:</p>
      <p style="text-align: center;">Fe-OH + H
        <sup>+</sup> ↔ Fe-OH
        <sub>2</sub>
        <sup>+</sup>
      </p>
      <p style="text-align: justify;">mientras que en pH alcalinos, el ión H
        <sup>+</sup> puede ser liberado y crear una carga negativa:</p>
      <p style="text-align: center;">Fe-OH ↔ Fe-O
        <sup>-</sup> + H
        <sup>+</sup>
      </p>
      <p style="text-align: justify;">Las cargas positivas y negativas pueden ser neutralizadas por cantidades equivalentes de aniones y cationes respectivamente. El pH, en el cual la superficie transporta igual cantidad de cargas positivas y negativas, es llamado punto de carga cero
        (PZC) o punto cero de carga neta. El PZC es una propiedad importante de los óxidos de hierro. En suelos que presentan estos óxidos, el pH puede influir en la adsorción de cationes y aniones, así como en arcillas dispersas en el agua, por la interacción
        entre los óxidos y la carga negativa de las arcillas silicatadas.</p>
      <p style="text-align: justify;">Los principales efectos de los óxidos de hierro en el suelo que se mencionan son una correlación significativa entre el porcentaje de agregados estables en agua y el contenido de óxidos de hierro, observándose dispersión de agregados del suelo después
        de remover los óxidos de hierro con agentes reductores y al adicionarse óxidos de hierro sintéticos se promueve el efecto de agregación en el suelo.</p>
      <p style="text-align: justify;">Los óxidos de hierro estabilizan a las arcillas al disminuir la concentración crítica de coagulación. En observaciones realizadas en microscopio electrónico se presenta el óxido de hierro depositado sobre arcillas reduciendo la dispersión. En resumen,
        contribuyen a la estabilidad de los agregados y a la estructura del suelo.</p>
    </div>
  </ion-content>
</ion-view>