<ion-view title="Óxidos de Fe y Al" id="page221">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.XidosDeHierro()" id="XidosDeFeYAl-button268" class="button button-positive button-block">Óxidos de hierro</a>
    <a ui-sref="menu.XidosDeAluminio()" id="XidosDeFeYAl-button269" class="button button-positive button-block">Óxidos de aluminio</a>
    <div>
      <p style="text-align: justify;">Los óxidos de Al y de Fe constituyen en su mayoría productos de neoformación provenientes de la alteración de sedimentos y suelos, y se los denomina óxidos libres cuando no se encuentran unidos química ni estructuralmente a los silicatos. Prácticamente
        no hay suelo que no contenga óxidos aún en muy pequeñas cantidades.</p>
      <p style="text-align: justify;">Cuando se habla de óxidos se incluye tanto los óxidos anhídridos como los hidróxidos y oxihidróxidos cristalinos, paracristalinos y amorfos; si bien influye el tipo de extractante usado. En este estudio las formas cuantificadas fueron los óxidos
        cristalinos, el material amorfo y el material acomplejado.</p>
      <p style="text-align: justify;">Durante la meteorización del material originario y la formación del suelo el Si, Al, Fe, Ti y Mn forman óxidos estables. Los óxidos de Si son lo que más rápidamente se pierden, de ahí que los coloides del suelo se encuentran enriquecidos en óxidos
        de Fe, Al y Ti. Esto se acentúa a medida que avanza el grado de alteración del suelo. De hecho, en los suelos tropicales con elevada precipitación y elevada temperatura, la activa desilicatación y desbasificación es donde los óxidos de hierro
        y de Al son dominantes.</p>
      <p style="text-align: justify;">La presencia de los óxidos de Al y de Fe depositados como envolturas de los gránulos minerales o infiltrados en agregados de arcillas, alteran la carga eléctrica, modifican las propiedades de superficie e incrementan la capacidad buffer del suelo.</p>
      <p style="text-align: justify;">Una de las propiedades destacadas de los óxidos de Fe y de Al es su capacidad para adsorber compuestos iónicos y no iónicos, lo que es una consecuencia de la carga dependiente del pH, o compuestos no iónicos o polímeros, mediante fuerzas de van
        der Waals, enlaces de hidrógeno y otros mecanismos de retención.</p>
      <p style="text-align: justify;">Bajo condiciones alcalinas los óxidos desarrollan cargas negativas y lo inverso ocurre en condiciones ácidas. El punto isoeléctrico o punto de carga cero es el valor de pH en el cual cantidades iguales de H
        <sup>+</sup> y OH
        <sup>-</sup> son adsorbidas y el óxido no tiene carga. Las cargas de los óxidos originadas por grupo (OH
        <sub>2</sub>)
        <sup>+</sup> y (OH)
        <sup>-</sup> permiten la adsorción de diversos aniones</p>
      <p style="text-align: justify;">Un rasgo importante de los óxidos de hierro, oxihidróxidos e hidróxidos de aluminio es que tienen comportamiento anfotérico y contribuyen considerablemente a la capacidad buffer de los suelos ricos en estos compuestos. Esta capacidad buffer se basa
        en la transferencia de protones en la capa determinante del potencial y consistente en una superficie de grupos OH y OH
        <sub>2</sub>. Los iones H
        <sup>+</sup> y OH
        <sup>-</sup> constituyen los iones determinantes del potencial.</p>
    </div>
    <div>
      <img src="img/J2uFxH57Shtg25NH9DMz_oxidos-pH.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p align="justify">
      Relación entre contenido de óxidos de Fe y Al y el pH de los suelos de la provincia de Córdoba.
    </p>
  </ion-content>
</ion-view>